.card {
    padding: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 20px 0 rgba(69,79,91,0.2);
    border-radius: 5px;
    transition: box-shadow 300ms ease;
    background: #fff;
}

.card:hover {
    box-shadow: 0 11px 54px 0 rgba(69,79,91,0.3);    
}

.card-img-top {
    
}

.card-title {
    
}

.card-sub-title {
    
}

.card-text {
    
}

.card-link {
    
}