@import './variables.styl';
@import './reset.styl';
@import './grid.styl';
@import './utilities.styl';
@import './inputs.styl';
@import './buttons.styl';
@import './cards.styl';

body {
    font-family: "Segoe UI", sans-serif;
    color: colorTextPrimary
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 4.025rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
}

h4 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    line-height: 1.44375rem;
}

h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.3125rem;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 1.3125rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6875rem;
}

a {
    font-size: 1rem;
    color: colorPrimary;
}

a:hover {
    color: colorPrimaryDark;
}

a:active, a:focus {
    color: colorPrimaryDark;
}

strong {
    font-weight: 700;
}