@import './variables.styl'

.text-center {
    text-align: center !important;
}

.margin-center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.hide {
    display: none !important;    
}

.no-mt {
    margin-top: 0px !important;    
}

.no-mb {
    margin-bottom: 0px !important;    
}

.wrapper-bg-white {
    width: 100%;
    background: #fff; 
    padding-top: 2rem;
    padding-bottom: 2rem;   
}

.wrapper-bg-tan {
    width: 100%;
    background: colorTan;  
    padding-top: 2rem;
    padding-bottom: 2rem;  
}

.wrapper-bg-dark-purple {
    width: 100%;
    background: colorDarkPurple;
    padding-top: 2rem;
    padding-bottom: 2rem;    
}

.wrapper-bg-light-gray {
    width: 100%;
    background: colorGrayLighter;
    padding-top: 2rem;
    padding-bottom: 2rem; 
}

.color-dark-purple {
    color: colorDarkPurple !important;
}

.color-light-purple {
    color: colorLightPurple !important;    
}

.color-primary {
    color: colorPrimary !important;
}