.blog-post {
    max-width: 100%;
    padding: 2rem;
}

.blog-post h3 {
    line-height: 2.25rem;
    height: 4.5rem;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.post-excerpt {
    line-height: 1.5rem;
    height: 7rem; 
    overflow: hidden
}

.post-footer {
    margin-top: 1rem;
}